@font-face {
	src: local('PT Sans'), url('../fonts/pt-sans/pt-sans-regular.woff') format('woff');
	font-family: PT Sans;
}

@font-face {
	src: local('Source Sans Pro'), url('../fonts/source-sans-pro/source-sans-pro-regular.woff') format('woff');
	font-family: Source Sans Pro;
}

@font-face {
	src: local('Source Sans Pro Semibold'), url('../fonts/source-sans-pro/source-sans-pro-semibold.woff') format('woff');
	font-family: Source Sans Pro;
	font-weight: 500;
}

@font-face {
	src: local('Source Sans Pro Bold'), url('../fonts/source-sans-pro/source-sans-pro-bold.woff') format('woff');
	font-family: Source Sans Pro;
	font-weight: bold;
}

@font-face {
	src: local('Lato Regular'), url('../fonts/lato/lato-regular.woff') format('woff');
	font-family: Lato;
}

@font-face {
	src: local('Lato Bold'), url('../fonts/lato/lato-bold.woff') format('woff');
	font-family: Lato;
	font-weight: bold;
}

@font-face {
	src: local('Open Sans'), url('../fonts/open-sans/open-sans-regular.woff') format('woff');
	font-family: Open Sans;
}

@font-face {
	src: local('Neuton'), url('../fonts/neuton/neuton-regular.woff') format('woff');
	font-family: Neuton;
}

@font-face {
	src: local('Neuton Bold'), url('../fonts/neuton/neuton-bold.woff') format('woff');
	font-family: Neuton;
	font-weight: bold;
}

@font-face {
	src: local('Neuton Italic'), url('../fonts/neuton/neuton-italic.woff') format('woff');
	font-family: Neuton;
	font-style: italic;
}

@keyframes shake {
	from {
		left: 0;
	}
	33% {
		left: -5px;
	}
	67% {
		left: 5px;
	}
	to {
		left: 0;
	}
}

html {
	height: 100%;
}

body {
	background-color: #20262c;
	color: white;
	display: flex;
	flex-direction: column;
	font-family: Source Sans Pro, sans-serif;
	margin: 0;
	min-height: 100%;
}

.button {
	background-color: #365;
	border: none;
	border-radius: 2px;
	box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3);
	color: white;
	cursor: pointer;
	display: inline-block;
	font-family: Open Sans, sans-serif;
	font-size: 0.9em;
	margin: 0;
	outline: none;
	padding: 0.6em 1.2em;
	padding-bottom: 0.8em;
	position: relative;
	text-align: left;
	transition: background-color 0.2s ease-in;
	white-space: nowrap;
}

.button::-moz-focus-inner {
	border: none;
	padding: 0;
}

.button:hover {
	background-color: #376;
	transition: background-color 0.2s ease-out;
}

.button:focus {
	border: 1px solid #bcc;
	margin: -1px;
}

.button:active {
	border: none;
	box-shadow: none;
	margin: 0;
	margin-top: 2px;
	padding-bottom: 0.6em;
	padding-top: calc(0.8em - 2px);
}

.button.progress {
	background-color: #476;
	border: none;
	box-shadow: none;
	margin: 0;
	margin-top: 2px;
	padding-bottom: 0.6em;
	/*padding-right: 1.4em;*/
	padding-top: calc(0.8em - 2px);
}

@keyframes bounce {
	from {
		margin-top: 0;
	}

	to {
		margin-top: 1em;
	}
}

.button.progress::after {
	animation: bounce 0.4s cubic-bezier(.75, 0, 1, 1) infinite alternate;
	background-color: currentColor;
	border-radius: 3px;
	content: '';
	height: 3px;
	position: absolute;
	right: 0.6em;
	top: 0.8em;
	width: 3px;
}

.button.error {
	background-color: #983;
	border: none;
	box-shadow: none;
	margin: 0;
	padding-bottom: 0.6em;
	padding-top: calc(0.8em - 2px);
	top: 2px;
}

.text-transition {
	display: inline-block;
	overflow: hidden;
	position: relative;
	vertical-align: text-bottom;
	white-space: pre;
}

@keyframes text-in {
	from {
		opacity: 0;
		transform: translateY(-100%);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes text-in-up {
	from {
		opacity: 0;
		transform: translateY(100%);
	}

	to {
		opacity: 1;
		transform: none;
	}
}

@keyframes text-out {
	from {
		filter: none;
		opacity: 1;
		/*transform: none;*/
	}

	to {
		filter: blur(2px);
		opacity: 0;
		/*transform: scale(0);*/
	}
}

.text-transition-in {
	animation: text-in 0.4s cubic-bezier(.75, 0, 1, 1);
	left: 0;
	position: absolute;
}

.text-transition-in.text-transition-up {
	animation-name: text-in-up;
}

.text-transition-out {
	animation: text-out 0.2s ease-out;
	animation-fill-mode: forwards;
	display: inline-block;
}

.field {
	display: block;
	margin: 0.8em 0;
	position: relative;
}

.field-horizontal {
	justify-content: space-between;
	display: flex;
	margin: 0.8em 0;
}

.field-horizontal .field {
	flex: 1;
	margin-bottom: 0;
	margin-top: 0;
}

.field-horizontal * + .field {
	margin-left: 1em;
}

.label {
	color: rgba(255, 255, 255, 0.8);
	display: block;
	font-size: 0.9em;
	font-weight: bold;
	margin-bottom: 0.2em;
}

.field-aside {
	bottom: 0;
	color: rgba(255, 255, 255, 0.8);
	display: flex;
	flex-direction: column;
	font-size: 0.9em;
	justify-content: center;
	left: 100%;
	margin: 0;
	margin-left: 0.6em;
	position: absolute;
	top: 1.45em;
	white-space: nowrap;
}

.field-description {
	margin: 0;
}

/*.field-error {
	background-color: rgba(238, 153, 34, 0.3);
	border-top: 2px solid #e92;
	font-size: 0.9em;
	margin: 0.3em 0;
	padding: 0.2em;
}*/

.field-error {
	color: #e92;
}

.text {
	background-color: white;
	border: none;
	border-radius: 1px;
	box-shadow: none;
	box-sizing: border-box;
	font-family: inherit;
	font-size: 1em;
	outline: none;
	padding: 0.5em;
	/*width: 16em;*/
	width: 100%;
}

.text.invalid {
	box-shadow: 0 1px 0 #20262c, 0 2px 0 #c93;
}

.text:focus {
	box-shadow: 0 0 0 1px #20262c, 0 0 0 2px #bcc;
}

.long-text {
	resize: vertical;
}

.form-errors {
	animation: shake 0.2s 2;
	background-color: rgba(238, 153, 34, 0.3);
	border-top: 2px solid #e92;
	font-size: 0.9em;
	list-style-type: none;
	margin: 0;
	padding: 0.4em;
	position: relative;
	text-align: center;
}

.form-actions {
	margin-top: 1em;
}

.action-link {
	color: white;
	font-size: small;
	opacity: 0.6;
	text-decoration-color: rgba(255, 255, 255, 0.4);
	transition: opacity 0.2s ease;
}

.action-link:focus, .action-link:hover {
	opacity: 1;
}

.direction-contain {
	unicode-bidi: embed;
}

#main {
	flex-grow: 1;
}

#footer {
	margin: 2em 0 1em 0;
	text-align: center;
}

#footer a {
	color: rgba(255, 255, 255, 0.6);
	display: inline-block;
	font-size: 0.9em;
	line-height: 2;
	margin: 0 0.4em;
	outline: none;
	text-decoration: none;
	text-transform: lowercase;
}

#footer a:focus, #footer a:hover {
	color: white;
}
