#submission-header {
	color: white;
	flex: 1;
	font-family: Lato, sans-serif;
	left: 50%;
	line-height: 2.7;
	overflow: hidden;
	text-align: center;
	text-overflow: ellipsis;
	top: 0.8em;
	white-space: nowrap;
	width: 0;
}

#submission-title {
	display: inline;
	font-size: 1em;
	font-weight: bold;
	margin: 0;
}

#submission-byline {
	color: rgba(255, 255, 255, 0.7);
	display: inline-block;
	font-size: 0.9em;
	margin: 0;
	margin-left: 0.2em;
}

#submission-byline a {
	color: inherit;
	text-decoration: none;
}

#navigation-right {
	flex: 0 1 auto;
}

.submission-image-container {
	text-align: center;
}

.submission-image {
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
	display: inline-block;
	outline: none;
}

.submission-image img {
	border: none;
	max-height: 90vh;
	max-width: 100%;
	vertical-align: middle;
}

.submission-image.expandable {
	cursor: zoom-in;
}

.submission-image.expanded {
	cursor: zoom-out;
	max-height: none;
}

#submission-comments {
	margin: 3em auto;
	max-width: 80em;
}

#submission-description .comment-inner {
	background-color: transparent;
	box-shadow: none;
	color: #ddd;
}

#submission-description .comment-author-image {
	max-height: 5em;
	top: 0;
}

#submission-description .comment-body {
	min-height: 4em;
	padding: 0;
}

#submission-tags {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#submission-tags li {
	display: inline-block;
}

#submission-tags a {
	background-image: linear-gradient(45deg, #13171a 50%, transparent 50%);
	background-position: 0 1.4em;
	background-repeat: no-repeat;
	background-size: 300px 300px;
	border-left: 2px solid #13171a;
	border-right: 2px solid transparent;
	border-radius: 2px;
	color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	font-size: 0.9em;
	padding: 0 0.4em;
	text-decoration: none;
	transition: background-position 0.3s ease;
}

#submission-tags a:hover {
	background-position: 0 -200px;
}
