{% extends "layout.html" %}

{% block stylesheets %}
	{{ super() }}
	<link rel="stylesheet" href="/css/settings.css" />
{% endblock %}

{% block navigation_middle %}
	<nav id="settings-navigation" class="header-navigation">
		<ul>
			<li><a href="/settings/profile"{{ active("profile-settings") }}>Profile</a></li>
			<li><a href="javascript:void 0"{{ active("browsing-settings") }}>Browsing</a></li>
			<li><a href="/settings/account"{{ active("account-settings") }}>Account</a></li>
		</ul>
	</nav>
{% endblock %}
