{% extends "layout.html" %}
{% set current_page = "home" %}

{% block title -%}
	Home – {{ super() }}
{%- endblock %}

{% block stylesheets %}
	{{ super() }}
	<link rel="stylesheet" href="/css/home.css" />
{% endblock %}

{% block scripts %}
	{{ super() }}
	<script src="/js/home.js" async></script>
{% endblock %}

{% block body %}
	<section class="thumbnail-section">
		<h2 class="thumbnail-section-header">Recent Artwork</h2>

		<div class="thumbnails">
			{% for submission in recentSubmissions %}
				<div class="thumbnail rating-{{ submission.rating }}" data-id="{{ submission.id }}">
					<div class="thumbnail-link-container">
						<a href="/submissions/{{ submission.id }}" class="thumbnail-link">
							<picture class="thumbnail-image">
								<source srcset="{{ submission.representations.thumbnail | file_path('thumbnail') }}" />
								{#<img src="{{ submission.representations | thumbnail_path }}" class="thumbnail-image" />#}
							</picture>
						</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
